<div class="header">
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (user && user.email) { %>
      <li><a href="/dashboard">dashboard</a></li>
      <li><a href="/logout">logout</a></li>
      <% } else { %>
      <li><a href="/login">login</a></li>
      <li><a href="/register">register</a></li>
      <% } %>
    </ul>
  </nav>
  <% if (user && user.email && user.role === "admin") { %>
    <nav>
      Admin menu:
      <li><a href="/admin/users">Users</a></li>
    </nav>
  <% } %>
</div>
<p>
    <% if (user && user.email) { %>
        <h3> <%= user.email %> is logged in </h3>
    <% } %>
</p>